<main class="container">
  <!-- <nav>
    <a routerLink="/add">
      <button mat-flat-button color="accent" class="ajouterBtn">
        Ajouter Assignment
      </button>
    </a>
  </nav> -->
    <div class="row">
      <div class="col-md-12">
          <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" #scroller style="width: 100%">
              <mat-grid-list cols="3">
                <mat-grid-tile *cdkVirtualFor="let a of assignments" style="height: 150px">
                    <!-- <h3 mat-subheader>Date de rendu : {{a.dateDeRendu | date}}</h3>
                    <nav>
                      <a routerLink="/assignment/{{a.id}}">
                        <mat-list-item (click)="assignmentClique(a);" class="example-item">
                          <p appRendu *ngIf="a.rendu; else nonsoumis">
                            Devoir intitulé {{a.nom}} rendu.
                          </p>
              
                          <ng-template #nonsoumis>
                            <p [ngClass]="{nonrendu:true}">le devoir {{a.nom}} n'a pas été rendu...</p>
                          </ng-template>
                          <mat-divider></mat-divider>
                        </mat-list-item>
                      </a>
                    </nav> -->
                    <mat-card class="example-card" style="margin: 5px">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image">
                              <img mat-card-avatar src="{{a.imageProf}}"  alt="Photo of a Shiba Inu">
                          </div>
                          <mat-card-title>{{a.auteur}}</mat-card-title>
                          <mat-card-subtitle><span class="text-info"><b>Date de rendu : {{a.dateDeRendu | date}}</b></span> </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <div class="row">
                            <div class="col-md-4">
                              <img src="{{a.imageMatiere}}" alt="" width="100%">
                            </div>
                            <div class="col-md-8">
                              <h6 class="mt-2">{{a.nom}}</h6>
                              <p  *ngIf="a.rendu; else nonsoumis">
                                <span class="text-success" style="font-size: medium;"><i class="fa fa-check" aria-hidden="true"></i> rendu</span>    
                              </p>
                              <ng-template #nonsoumis>
                                <p [ngClass]="{nonrendu:true}">
                                  <span class="text-danger" style="font-size: medium;"> <i class="fa fa-window-close" aria-hidden="true"></i> non rendu</span> 
                                </p>
                              </ng-template>
                            </div>
                            
                          </div>
                         
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button routerLink="/assignment/{{a.id}}">Modifier</button>
                        </mat-card-actions>
                      </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
            </cdk-virtual-scroll-viewport>
      </div>
    </div>
</main>
